site_name: Yesselman Lab
site_description: Extensive documentation for the lab
site_author: Lab Team
site_url: https://yesselmanlab.github.io/lab-docs/

# Repository
repo_name: lab-docs
repo_url: https://github.com/YesselmanLab/lab-docs
edit_uri: edit/main/docs/

# Theme
theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.annotate
    - content.code.copy
  icon:
    repo: fontawesome/brands/github

# Plugins
plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true

# Markdown extensions
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true

# Navigation
nav:
  - Home: index.md
  - Getting Started:
    - getting-started/overview.md
    - getting-started/faq.md
    - getting-started/development-environment.md
    - getting-started/command-line-guide.md
    - Development Tools:
      - getting-started/development-tools/index.md
      - getting-started/development-tools/homebrew.md
      - getting-started/development-tools/conda.md
      - getting-started/development-tools/zshrc.md
      - getting-started/development-tools/oh-my-zsh.md
      - getting-started/development-tools/hcc-cluster.md
    - getting-started/installation.md
    - getting-started/quick-start.md
  - Protocols:
    - protocols/index.md
    - protocols/experimental.md
    - protocols/computational.md
  - Lab Software:
    - lab-software/index.md
    - lab-software/vienna.md
    - lab-software/software-1.md
    - lab-software/software-2.md
    - lab-software/software-3.md
    - lab-software/lab-tool-1.md
  - Resources:
    - resources/reading-guide.md
    - resources/how-to-read-papers.md
    - resources/software.md
    - resources/datasets.md
    - resources/references.md
  - About: about.md

# Extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yourusername
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/yourusername
  version:
    provider: mike

